/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
}

.landing-page {
  min-height: 100vh;
  overflow: hidden;
}
.logo {
  padding: 5px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c41a18;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;
}

.logo .highlight {
  color: var(--text-color);
  padding: 1px;
}
