/* Navigation */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 1rem 2rem;
  z-index: 1000;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #113052;
  font-weight: 400;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.report-btn {
  background: #d82f25;
  color: white !important;
  padding: 0.75rem 1.5rem !important;
  border-radius: 25px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.map-btn {
  background: white;
  color: #d82f25 !important;
  padding: 0.75rem 1.5rem !important;
  border-radius: 25px;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: 0 4px 4px rgba(202, 174, 172, 0.3);
}

.report-btn:hover {
  transform: translateY(-2px);
  background: rgba(255, 163, 163, 0.1);
  color: #d82f25 !important;
}
.map-btn:hover {
  transform: translateY(-2px);
  background: #d82e25fb;
  color: #ffffff !important;
}
/* Scroll indicator */
.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  background: #d82f25;
  z-index: 1001;
  transition: width 0.1s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1002;
  background: none;
  border: none;
  font-size: 2.2rem;
  padding: 0.5rem;
  color: #d82f25;
}
.hamburger-icon {
  font-size: 2rem;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 105px;
    right: 0;
    width: 70vw;
    max-width: 320px;
    background: #fff;
    height: calc(100vh - 60px);
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem 1.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1500;
  }
  .nav-links.open {
    transform: translateX(0);
  }
  .hamburger {
    display: block;
    margin-left: auto;
  }
}
