/*****        CSS File Created for Joey & Sharon      *****/
/****      Handles styling, colors and positioning    ***/

ReplaceWithHTMLElement {
  color: transparent;
}

.ReplaceWithClassName {
  color: transparent;
}

#ReplaceWithElementID {
  color: transparent;
}

/*****        CSS File Created for Joey & Sharon      *****/
