/*****        CSS File Created for Joey & Sharon      *****/
/****      Handles styling, colors and positioning    ***/

.list-item {
  color: red;
}

.safety-hub-container {
  max-width: 1000px;
  margin: 40px auto;
  background-color: #f0f0f0;
  padding: 20px;
}

.resource-columns{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.resource-section {
  margin-bottom: 40px;
  flex: 1;
  min-width: none;
}

.resource-header {
  font-size: 1.5rem;
  margin-bottom: 15px;
  border-left: 5px solid red;
  padding-left: 10px
}

.resource-item {
  background-color: #f5f6fa;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.resource-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.resource-description {
  margin-bottom: 10px;
}

.resource-link {
  color: #007bff;
  text-decoration: none;
}

.resource-link:hover {
  text-decoration: underline;
}

.resource-privacy {
  font-size: 0.85rem;
  margin-bottom: 8px;
  font-style: italic;
}

.anonymous {
  color: #007b00; 
  font-weight: bold;
}

.not-anonymous {
  color: #b30000; 
  font-weight: bold;
}

.confidential {
  color: #0c2340; 
  font-weight: bold;
}

/*****        CSS File Created for Joey & Sharon      *****/
