/*****        CSS File Created for Daniela      *****/
/**** Handles styling, colors and positioning ****/

ReplaceWithHTMLElement {
  color: transparent;
}

.ReplaceWithClassName {
  color: transparent;
}

#ReplaceWithElementID {
  color: transparent;
}

/*****        CSS File Created for Daniela      *****/
